.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 90px;
  padding: 20px;
}

.loading-text {
  text-align: center;
  font-size: 1.5rem;
  color: #888;
}

.btns {
  background-color: #f1904a;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btns:hover {
  background-color: #f1904a;
}

.search-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 10px 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: darkgreen;
}

.pagination-dropdown {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.pagination-dropdown label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.pagination-dropdown select {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pagination-dropdown select:hover {
  background-color: #e6e6e6;
}
